{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-8">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-warning" role="alert">
            {% for message in messages %}
            {{ message }}<br>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <h2>Медиапланы пользователя</h2>
        <ul>
            {% for plan in media_plans %}
            <li>{{ plan.name }} - {{ plan.description }}</li>
            {% else %}
            <li>У вас нет созданных медиапланов.</li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('plan.create_media_plan') }}" class="btn btn-primary">Создать новый медиаплан</a>
    </div>
</div>
{% endblock %}