{% extends "base.html" %}
{% block content %}
<div class="row mt-4">
    <div class="col-8 offset-2 text-center">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div>
            {% for category, message in messages %}
            {% if category in ['success', 'login_error'] %}
            <div class="alert alert-{{ 'danger' if category == 'login_error' else category }}" role="alert">
                {{ message }}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <h2 class="mb-4">Добро пожаловать</h2>
        <div class="alert alert-info" role="alert">
            У вас {{ plan_count }} медиапланов.
        </div>
    </div>
</div>
{% endblock %}